<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

  <header>
    <%-
      include('../partials/header', {
        titulo: 'Cadastro de Óleo',
        anterior: '/'
      });
    %>
  </header>

  <main>
    <div>
      <img src="/images/info_oleo.jpeg" alt="">
    </div>
    <div class="p-6 text-gray-600">
     
    </div>
  </main>

</body>
</html>