<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

  <header>
    <%-
      include('../partials/header', {
        titulo: 'Cadastro de Óleo',
        anterior: '/'
      });
    %>
  </header>

  <main>    
    <div class="p-6" style="text-align: center; height: 27px; left: 115px; top: 137px; border-radius: nullpx;">
      <p>O RECIPIENTE CONTÉM</p>
    </div>
    <div style="height: 98px; width: 102px; margin: 0 auto; left: 136px; top: 198px; border-radius: 15px; background-color: #8BC53F;"></div>
    <div  style="text-align: center; height: 27px; left: 115px; top: 137px; border-radius: nullpx;">
    Selecione quantos litros deseja depositar?
    </div>
    <style>
      #litros {
        height: 41px;
        width: 234px;
        left: 64px;
        top: 547px;
        border-radius: 15px;
      }
    </style>
    
    <label for="litros">Litros:</label>
    <select id="litros">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    

    

  </main>

</body>
</html>