<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

  <header>
    <%-
      include('../partials/header', {
        titulo: 'Importante',
        anterior: '/spaces'
      });
    %>
  </header>

  <main>
    <div class="p-6 text-gray-600">
      <p>Antes de depositar o conteúdo, certifique-se de:</p>
      <ol class="list-decimal list-inside pt-6">
        <li class="pb-4">Armazenamento adequado: Certifique-se de armazenar o óleo em recipientes seguros e adequados para evitar vazamentos. </li>
        <li class="pb-4">Filtração do óleo: Antes de depositar o óleo nos recipientes, filtre-o para remover resíduos sólidos, como restos de alimentos.</li>
        <li class="pb-4">Evite misturas: Não misture o óleo de cozinha usado com outros produtos, como solventes, tintas ou produtos químicos.</li>
      </ol>
      <div class="text-center mt-4">
        <img src="/images/vaso.png" alt="" class="mx-auto">
        <a type="button" href="/oil-container?id=<%= spaceId %>"
          class="inline-block mx-auto mt-10 bg-green-500 text-white hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg px-5 py-2.5">
          Prosseguir com depósito
        </a>
      </div>
    </div>
  </main>

</body>
</html>