<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header', { titulo: 'Participar', anterior:
      '/spaces' }); %>
    </header>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm m-4">
      <form id="form-participar-espaco" method="POST" class="space-y-6">
        <div>
          <label
            for="espacos"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Espaço</label
          >
          <div>
            <select
              id="space"
              name="space"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lime-500 focus:border-lime-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-lime-500 dark:focus:border-lime-500"
              onchange="(e) => console.log(e)"
            >
              <option selected value="prefixed">
                Escolha o espaço que deseja entrar
              </option>
              <%
                spaces.forEach(function(space) {
                  if(space.owner !== user.id){ 
              %>
                <option value="<%= space.id %>">
                  <%= space.name %>
                </option>
              <%
                  }
                });
              %>
            </select>
          </div>
        </div>

        <div class="flex justify-center">
          <button
            type="submit"
            id="submit-solicitacao"
            href="#"
            class="flex justify-center rounded-md bg-lime-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-lime-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Solicitar
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
