<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <header>
      <%- include('../partials/header', { titulo: 'Configurações' , anterior:'/'
      }); %>
    </header>

    <main>
      <div class="p-6">
        <div class="flex">
          <a href="/space-register"
            ><button
              type="submit"
              onclick=""
              class="flex text-white mr-4 bg-lime-500 hover:bg-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg px-5 py-2.5 text-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 mr-2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v12m6-6H6"
                />
              </svg>
              Criar espaço
            </button>
          </a>
          <a href="/participate"
            ><button
              type="submit"
              onclick=""
              class="flex text-white bg-lime-500 hover:bg-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg px-5 py-2.5 text-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 mr-2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
                />
              </svg>
              Participar
            </button>
          </a>
        </div>
        <% if(spaces.length === 0){%>
        <div class="p-6 pt-8">
          <div class="flex flex-col items-center pt-4 text-orange-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-28 h-28"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
              />
            </svg>
            <p class="pt-3 font-semibold text-2xl text-center">
              No momento você não tem nenhum espaço
            </p>
          </div>
        </div>
        <%
          } else { 
            spaces.forEach(function(space) { 
        %>
        <div class="p-4">
          <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="flex items-center p-4">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 mr-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
              </svg>
              <p class="mt-2 "text-gray-700"> <%= space[0].name %> </p>
            </div>
            <div class="flex justify-center">
              <a href="/space-manager?id=<%=space[0].id%>"><button class="flex items-center justify-center text-white bg-lime-500 hover:bg-lime-500 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg px-4 py-2 mx-auto mb-4">
                Acesse
              </button></a>
            </div>
          </div>
        </div>
        <%
            });
          }
        %>
      </div>
    </main>
  </body>
</html>
